footer.footer
    .wrapper.footer__wrapper
        .copyright
            | © 2018 О2 Residence усі права захищено.
        .SmartOrage
            a(href='#', target='_blank')
                img(src='assets/img/main/logo-smart-orange.png', alt='Smart Orange Logo')