header.header-container
    .wrapper.header
        .logo
            a(href='/')
                img(src='assets/img/main/o2_logo.svg', alt='O2 Logo')
        nav.nav
            ul
                li.nav__item.nav__item-telephone
                    a(href='#') (093) 82-33-115
                li.nav__item.nav__item-callback.nav__btn.js-callback-form
                    a(href='#') Замовити дзвінок
                li.nav__item.nav__item-callback-mobile.nav__btn.js-callback-form
                    a(href='#')
                li.nav__item.nav__item-camera.nav__btn
                    a(href='#')
                        | Камера
                        span.nav__item-camera_icon
                li.nav__item.nav__item-3d.nav__btn
                    a(href='#')
                        | Карта
                        span.nav__3d-text 3D
                li.nav__item.nav__item-lang
                    ul.lang-list
                        li
                            a.lang-item(href='#') Укр
                        li
                            a.lang-item(href='#') Рос
                        li
                            a.lang-item(href='#') Анг
                    span.nav__item-lang-icon
                li.nav__item.nav__item_menu
                    a(href='#') Меню
                    .menu__lines
                        .menu__line.menu__line_1
                        .menu__line.menu__line_2
                        .menu__line.menu__line_3